
html,
body {
  height: 100%;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
  a:hover {
    text-decoration: none;
    color: black;
  }
}
@maincolor: #eb3b49;

img {
  width: 100%;
  height:auto;
}
.text {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
.btn-big-text {
  width: 660px;
  height: 107px;
  background: @maincolor;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 18px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  border-radius: 53px;
  letter-spacing: 1px;
  outline: none!important;
}
.main-container {
  min-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  margin-top: 85px;
  @media (max-width: 350px){
    margin-top: 65px;
  }
}
.scroll {
  margin-top: -15px;
  margin-left: -15px;
}
  .header-logo {
    width: 100px;
    height: 80px;
    position: absolute;
    top: 120px;
    left: 15px;
    @media (min-width: 1600px) {
      top: 140px;
    }
  }
  .nav-text {
  font-weight: 700;
  margin-top: -76px;
  margin-left: 115px;
  letter-spacing: 0.2px;
}
  .nav-link {
  margin-top: -95px;
  float: left;
  margin-right: 22px;
}
  .contact-phone {
  width: 80px;
  height: 80px;
}
.header-main-container {
  margin-top: -590px;
  text-align: right;
  margin-right: 5.3%;
  h2, h4, h5 {
    .text;
  }
  h2 {
    letter-spacing: 0.6px;
  }
  h1 {
    font-size: 120px;
    margin-top: -25px;
    letter-spacing: 1.2px;
  }
  h3 {
    margin-top: 22px;
    font-size: 70px;
    letter-spacing: 1.9px;
    font-weight: 700;
  }
  h4 {
    font-weight: 700;
    margin-top: -2px;
    letter-spacing: 0.8px;
  }
  h5 {
    font-weight: 700;
    margin-top: -8px;
  }
   @media (min-width: 1600px){
     margin-top: -750px!important;
     h1 {
       font-size: 140px;
     }
     h2, h4, h5 {
       font-size: 50px;
     }
     h5 {
       margin-bottom: 80px;
     }
   }
}
.header-btn {
  margin-top: 39px;
  margin-left: 50.1%;
  @media (max-width: 350px) {
    width: 85%!important;
  }
  @media (max-width: 768px){
    margin-left: 3%;
    width: 95%;
  }
}
 input[type="text"]::-moz-placeholder {
    color: #001534;
    opacity: 1;
  }
  input[type="text"]::-webkit-input-placeholder {
    color: #001534;
    opacity: 1;
  }
  input[type="text"]:-ms-input-placeholder {
    color: #001534;
    opacity: 1;
  }
  input[type="text"]::-ms-input-placeholder {
    color: #001534;
    opacity: 1;
  }
  input[type="text"]::placeholder {
    color: #001534;
    opacity: 1;
  }
  input[type="text"]::placeholder {
    color: #001534;
    opacity: 1;
  }
@media (max-width: 350px) {
  .header-main-container {
    margin-right: 12%;
  }
}
@media (min-width: 1500px) {
  .header-main-container {
    margin-top: -650px;
  }
}
.main {
  padding-top: 94px;
  padding-left: 4.8%;
  @media (min-width: 1500px) {
    padding-top: 160px;
  }
}
.main-text {
  text-align: center;
  margin-left: -10px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    color: @maincolor;
    letter-spacing: 1px;
  }
  p {
    .text;
    margin-top: -8px;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  img {
    width: 132px;
    height: 132px;
    margin-left: -35px;
  }
  a {
    .text;
  }
}
form {
  margin-left: -34px;
}
.input-form {
  width: 660px;
  height: 90px;
  background: #d8d8d8;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: -5px;
  padding-top: 17px;
  border-radius: 2px;
  border: #989898 1px solid;
  .text;
  text-align: center;
  letter-spacing: 0.5px;
  @media (max-width: 350px) {
    width: 85%!important;
  }
  @media (max-width: 768px){
    margin-left: 3%;
    width: 95%;
  }
}
.btn-little-text {
  .btn-big-text;
  font-size: 42px;
  margin-top: 40px;
  margin-left: -4px;
  padding-top: 15px;
  padding-left: 22px;
  @media (max-width: 350px) {
    width: 85%!important;
  }
  @media (max-width: 768px){
    margin-left: 3%;
    width: 95%;
  }
}
.step-tittle {
  h2 {
    color: #001534;
    margin-top: 40px;
    letter-spacing: 1.4px;
    margin-left: 22px;
  }
}
.steps-mapgin {
  padding-left: 93px;
  padding-right: 93px;
  padding-top: 37px;
}
.step-active {
  background: @maincolor;
  color: white;
}
.steps {
  position: relative;
  text-align: center;
  h2 {
    font-size: 42px;
    font-weight: 700;
    color: #001534;
    margin-top: 31px;
  }
  p {
    .text;
    margin-top: 17px;
    line-height: 50px;
    letter-spacing: 1.1px;
    margin-bottom: 50px;
  }
  span {
    color: @maincolor;
  }
}
.steps-line {
  @media (min-width: 768px) {
    position: relative;
    width: 125px;
    height: 5px;
    background: @maincolor;
    left: 84%;
    bottom: 400px;
    z-index: 3;
  }
}
.steps-line1 {

  @media (min-width: 768px) {
    position: relative;
    width: 125px;
    height: 5px;
    background: @maincolor;
    left: 84%;
    bottom: 450px;
    z-index: 3;
  }
}
.step {
  padding-top: 5px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  font-size: 120px;
  font-weight: 700;
  color: @maincolor;
  margin: 0 auto;
  border: @maincolor 5px solid;
}
.step-active {
  .step;
  background: @maincolor;
  color: white;
}
.btn-step {
  margin-left: 27%;
  @media (max-width: 350px) {
    width: 85%!important;
  }
  @media (max-width: 768px){
    margin-left: 3%;
    width: 95%;
  }
  @media (min-width: 1600px){
      margin-left: 30%;
    width: 700px;
    }
}
.step-question {
  margin-top: 80px;
}
.btn-question {
  margin-top: 18px;
}
.contacts {
  margin-top: 56px;
  padding-left: 8%;

  img {
    width: 132px;
    height: 132px;
    margin-right: 10px;
  }
  a {
    .text;
  }
}
.contacts-mail {
  margin-left: 20px;
  display: flex;
}
.contacts-mail-img {
  font-size: 120px;
  margin-top: -45px;
}
.contacts-link-mail {
  margin-top: 8px;
}
.contacts-text {
  position: relative;
  text-align: right;
  margin-top: 24px;
  margin-right: 20%;
  .text;
  line-height: 50px;
  letter-spacing: 0.5px;
  img {
    position: relative;
    width: 250px;
    height: 250px;
    right: 453px;
    bottom: 257px;
  }
}
.conditions {
  text-align: center;
  margin-top: -178px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    color: #001534;
    letter-spacing: 1.3px;
    margin-bottom: 15px;
  }
  h3 {
    .text;
    font-weight: 700;
    line-height: 41px;
    color: @maincolor;
    letter-spacing: 1px;
    margin-bottom: 55px;
  }
}
.conditions-left {
  text-align: right;
  p {
    .text;
    line-height: 47px;
    letter-spacing: 1.1px;
  }
  span {
    .text;
    line-height: 47px;
    letter-spacing: 1.1px;
    font-weight: 700;
  }
}
.conditions-right {
  text-align: left;
  p {
    .text;
    line-height: 47px;
    letter-spacing: 1.1px;
  }
  span {
    .text;
    line-height: 47px;
    letter-spacing: 1.1px;
    font-weight: 700;
    color: #eb3b49;
  }
}
.map-tittle {
    text-align: center;
  margin-top: 64px;
  h2 {
    font-size: 60px;
    font-weight: 700;
    color: #001534;
    letter-spacing: 1.3px;
    margin-bottom: 19px;
  }
}
.map-text {
  margin-top: -380px;
  margin-left: 9.5%;
  width: 448px;
  p {
    .text;
    font-weight: 700;
    color: @maincolor;
    text-align: center;
    line-height: 39px;
  }
}
.contacts-map {
  margin-left: 50%;
  margin-top: -25px;
  img {
    width: 133px;
    height: 134px;
  }
  a {
    .text;
  }
}
.content {
  margin: 0 auto;
  margin-top: 32px;
  width: 1143px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.8px;
  img {
    width: 250px;
    height: 168px;
    margin-top: 65px;
  }
}
.modal-body {
    width: 900px;
  background: white;
  @media (max-width: 576px)
  {
     width: 100%!important;
  }
  input {
    margin-left: 13%;
    width: 75%;
    height: 120px;
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 50px !important;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  button {
    width: 55%;
    height: 80px;
    margin-left: 23%;
    border-radius: 40px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
  }
  @media (min-width: 768px){
    input {
      margin-left: 13%;
      width: 75%;
      height: 120px;
      padding-left: 20px;
      font-size: 35px;
      margin-bottom: 50px !important;
      background: #d8d8d8;
      border: #979797 1px solid;
    }
    button {
      width: 55%;
      height: 80px;
      margin-left: 23%;
      border-radius: 40px;
      font-size: 35px;
      font-weight: 700;
      margin-top: 30px;
    }
  }
}
.modal-header {
  @media (max-width: 576px)
  {
     width: 100%!important;
  }
  margin: 0 auto!important;
  width: 900px;
  background: white;
  height: 130px;
  h5 {
    margin-top: 20px;
    color: #eb3b49;
    font-size: 40px;
    letter-spacing: 0;
    margin-left: 32%;
  }
}
.modal-delite {
  font-size: 40px;
}
.modal-flex {
  display: flex;
  padding-top: 20px;
}
.modal-document {
  width: 350px!important;
  height: 300px;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
  span {
    color: #eb3b49;
  }
}
.nav-modal-second {
  width: 100%;
    margin: 31%!important;
  @media (max-width: 576px){
    margin-left: 10%;
  }
  }
.modal-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 35px;
  background: #d8d8d8;
  margin-bottom: 20px;
  @media (min-width: 768px) {
     width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 35px;
    background: #d8d8d8;
    margin-bottom: 20px;
  }
}
.modal-link-active {

  @media (min-width: 320px) {
   background: #eb3b49;
  }
}
.modal-content {
  @media (max-width: 576px) {
    width: 400px;
  }
}
.modal-title {
  @media (max-width:576px) {
    color: red;
    margin-left: 40%!important;
}
}
.modal-tittle-second {
  @media (max-width: 576px) {
    color: green;
    margin-left: 37% !important;
  }
  margin-left: 26%!important;
}
.modal-title-third {
  @media (max-width: 576px) {
  margin-left: 35%!important;
}
}
.modal-header-second {
  height: 90px!important;
}
.modal-input-second {
  height: 100px!important;
  margin-bottom: 10px!important;
}
.nav-modal-second {
  margin-top: 15px!important;
}
.btn-second {
  margin-top: -20px!important;
}
 .modal-input-third {
   width: 450px!important;
  height: 70px!important;
  margin-left: 20px!important;
  background: #eb3b49!important;
  color: black;
   @media (max-width: 576px) {
     width: 800px !important;
     margin-left: -20px !important;
   }
 }
 .modal-form {
    width: 650px!important;
  padding-left: 20px;
  text-align: center;
  p {
    font-size: 20px;
    margin-top: -30px!important;
  }
  ul {
    list-style-type: none;
    margin-top: -20px;
    li {
      border-bottom: black 1px solid;
      width: 450px;
    }
  }
  a {
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  span {
    font-size: 50px;
    margin-left: 250px!important;
  }
   @media (max-width: 576px) {
     ul {
      li {
        width: 670px!important;
      }
    }
   }
 }
  .nav-modal-second {
    @media (max-width: 576px) {
      margin-left: 570px!important;
    }
  }
  .btn-third {
  font-size: 35px!important;
  color: white;
  margin-top: -400px;
  line-height: 1px;
  height: 0;
}
.btn-third-span {
  line-height: 5px;
  font-size: 15px;
  margin-bottom: 0!important;
}
.modal-input-third {
  width: 450px!important;
  height: 70px!important;
  margin-left: 20px!important;
  background: #eb3b49!important;
  color: black;
}
.btn-third {
  margin-top: 50px;
}
.modal-text {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #001534;
  line-height: 70px;
}
.btn-third {
  font-size: 35px!important;
  color: white;
  margin-top: -400px;
  line-height: 1px;
  height: 0;
}
.btn-third-span {
  line-height: 5px;
  font-size: 15px;
  margin-bottom: 0!important;
}
.btn {
  width: 300px;
  height: 90px;
  background: @maincolor;
  color: white;
  outline: none!important;
}





