html,
body {
  height: 100%;
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("../fonts/OpenSans Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
div {
  box-sizing: border-box;
}
div a:hover {
  text-decoration: none;
  color: black;
}
img {
  width: 100%;
  height: auto;
}
.text {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
.btn-big-text {
  width: 660px;
  height: 107px;
  background: #eb3b49;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 18px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  border-radius: 53px;
  letter-spacing: 1px;
  outline: none!important;
}
.main-container {
  min-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
header {
  margin-top: 85px;
}
@media (max-width: 350px) {
  header {
    margin-top: 65px;
  }
}
.scroll {
  margin-top: -15px;
  margin-left: -15px;
}
.header-logo {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 120px;
  left: 15px;
}
@media (min-width: 1600px) {
  .header-logo {
    top: 140px;
  }
}
.nav-text {
  font-weight: 700;
  margin-top: -76px;
  margin-left: 115px;
  letter-spacing: 0.2px;
}
.nav-link {
  margin-top: -95px;
  float: left;
  margin-right: 22px;
}
.contact-phone {
  width: 80px;
  height: 80px;
}
.header-main-container {
  margin-top: -590px;
  text-align: right;
  margin-right: 5.3%;
}
.header-main-container h2,
.header-main-container h4,
.header-main-container h5 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
.header-main-container h2 {
  letter-spacing: 0.6px;
}
.header-main-container h1 {
  font-size: 120px;
  margin-top: -25px;
  letter-spacing: 1.2px;
}
.header-main-container h3 {
  margin-top: 22px;
  font-size: 70px;
  letter-spacing: 1.9px;
  font-weight: 700;
}
.header-main-container h4 {
  font-weight: 700;
  margin-top: -2px;
  letter-spacing: 0.8px;
}
.header-main-container h5 {
  font-weight: 700;
  margin-top: -8px;
}
@media (min-width: 1600px) {
  .header-main-container {
    margin-top: -750px !important;
  }
  .header-main-container h1 {
    font-size: 140px;
  }
  .header-main-container h2,
  .header-main-container h4,
  .header-main-container h5 {
    font-size: 50px;
  }
  .header-main-container h5 {
    margin-bottom: 80px;
  }
}
.header-btn {
  margin-top: 39px;
  margin-left: 50.1%;
}
@media (max-width: 350px) {
  .header-btn {
    width: 85%!important;
  }
}
@media (max-width: 768px) {
  .header-btn {
    margin-left: 3%;
    width: 95%;
  }
}
input[type="text"]::-moz-placeholder {
  color: #001534;
  opacity: 1;
}
input[type="text"]::-webkit-input-placeholder {
  color: #001534;
  opacity: 1;
}
input[type="text"]:-ms-input-placeholder {
  color: #001534;
  opacity: 1;
}
input[type="text"]::-ms-input-placeholder {
  color: #001534;
  opacity: 1;
}
input[type="text"]::placeholder {
  color: #001534;
  opacity: 1;
}
input[type="text"]::placeholder {
  color: #001534;
  opacity: 1;
}
@media (max-width: 350px) {
  .header-main-container {
    margin-right: 12%;
  }
}
@media (min-width: 1500px) {
  .header-main-container {
    margin-top: -650px;
  }
}
.main {
  padding-top: 94px;
  padding-left: 4.8%;
}
@media (min-width: 1500px) {
  .main {
    padding-top: 160px;
  }
}
.main-text {
  text-align: center;
  margin-left: -10px;
}
.main-text h2 {
  font-size: 60px;
  font-weight: 700;
  color: #eb3b49;
  letter-spacing: 1px;
}
.main-text p {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  margin-top: -8px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.main-text img {
  width: 132px;
  height: 132px;
  margin-left: -35px;
}
.main-text a {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
form {
  margin-left: -34px;
}
.input-form {
  width: 660px;
  height: 90px;
  background: #d8d8d8;
  margin-bottom: 30px;
  margin-top: 10px;
  margin-left: -5px;
  padding-top: 17px;
  border-radius: 2px;
  border: #989898 1px solid;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  text-align: center;
  letter-spacing: 0.5px;
}
@media (max-width: 350px) {
  .input-form {
    width: 85%!important;
  }
}
@media (max-width: 768px) {
  .input-form {
    margin-left: 3%;
    width: 95%;
  }
}
.btn-little-text {
  width: 660px;
  height: 107px;
  background: #eb3b49;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 18px;
  font-size: 60px;
  font-weight: 700;
  color: white;
  border-radius: 53px;
  letter-spacing: 1px;
  outline: none!important;
  font-size: 42px;
  margin-top: 40px;
  margin-left: -4px;
  padding-top: 15px;
  padding-left: 22px;
}
@media (max-width: 350px) {
  .btn-little-text {
    width: 85%!important;
  }
}
@media (max-width: 768px) {
  .btn-little-text {
    margin-left: 3%;
    width: 95%;
  }
}
.step-tittle h2 {
  color: #001534;
  margin-top: 40px;
  letter-spacing: 1.4px;
  margin-left: 22px;
}
.steps-mapgin {
  padding-left: 93px;
  padding-right: 93px;
  padding-top: 37px;
}
.step-active {
  background: #eb3b49;
  color: white;
}
.steps {
  position: relative;
  text-align: center;
}
.steps h2 {
  font-size: 42px;
  font-weight: 700;
  color: #001534;
  margin-top: 31px;
}
.steps p {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  margin-top: 17px;
  line-height: 50px;
  letter-spacing: 1.1px;
  margin-bottom: 50px;
}
.steps span {
  color: #eb3b49;
}
@media (min-width: 768px) {
  .steps-line {
    position: relative;
    width: 125px;
    height: 5px;
    background: #eb3b49;
    left: 84%;
    bottom: 400px;
    z-index: 3;
  }
}
@media (min-width: 768px) {
  .steps-line1 {
    position: relative;
    width: 125px;
    height: 5px;
    background: #eb3b49;
    left: 84%;
    bottom: 450px;
    z-index: 3;
  }
}
.step {
  padding-top: 5px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  font-size: 120px;
  font-weight: 700;
  color: #eb3b49;
  margin: 0 auto;
  border: #eb3b49 5px solid;
}
.step-active {
  padding-top: 5px;
  width: 200px;
  height: 200px;
  background: white;
  border-radius: 50%;
  font-size: 120px;
  font-weight: 700;
  color: #eb3b49;
  margin: 0 auto;
  border: #eb3b49 5px solid;
  background: #eb3b49;
  color: white;
}
.btn-step {
  margin-left: 27%;
}
@media (max-width: 350px) {
  .btn-step {
    width: 85%!important;
  }
}
@media (max-width: 768px) {
  .btn-step {
    margin-left: 3%;
    width: 95%;
  }
}
@media (min-width: 1600px) {
  .btn-step {
    margin-left: 30%;
    width: 700px;
  }
}
.step-question {
  margin-top: 80px;
}
.btn-question {
  margin-top: 18px;
}
.contacts {
  margin-top: 56px;
  padding-left: 8%;
}
.contacts img {
  width: 132px;
  height: 132px;
  margin-right: 10px;
}
.contacts a {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
.contacts-mail {
  margin-left: 20px;
  display: flex;
}
.contacts-mail-img {
  font-size: 120px;
  margin-top: -45px;
}
.contacts-link-mail {
  margin-top: 8px;
}
.contacts-text {
  position: relative;
  text-align: right;
  margin-top: 24px;
  margin-right: 20%;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 50px;
  letter-spacing: 0.5px;
}
.contacts-text img {
  position: relative;
  width: 250px;
  height: 250px;
  right: 453px;
  bottom: 257px;
}
.conditions {
  text-align: center;
  margin-top: -178px;
}
.conditions h2 {
  font-size: 60px;
  font-weight: 700;
  color: #001534;
  letter-spacing: 1.3px;
  margin-bottom: 15px;
}
.conditions h3 {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  font-weight: 700;
  line-height: 41px;
  color: #eb3b49;
  letter-spacing: 1px;
  margin-bottom: 55px;
}
.conditions-left {
  text-align: right;
}
.conditions-left p {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 47px;
  letter-spacing: 1.1px;
}
.conditions-left span {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 47px;
  letter-spacing: 1.1px;
  font-weight: 700;
}
.conditions-right {
  text-align: left;
}
.conditions-right p {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 47px;
  letter-spacing: 1.1px;
}
.conditions-right span {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  line-height: 47px;
  letter-spacing: 1.1px;
  font-weight: 700;
  color: #eb3b49;
}
.map-tittle {
  text-align: center;
  margin-top: 64px;
}
.map-tittle h2 {
  font-size: 60px;
  font-weight: 700;
  color: #001534;
  letter-spacing: 1.3px;
  margin-bottom: 19px;
}
.map-text {
  margin-top: -380px;
  margin-left: 9.5%;
  width: 448px;
}
.map-text p {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
  font-weight: 700;
  color: #eb3b49;
  text-align: center;
  line-height: 39px;
}
.contacts-map {
  margin-left: 50%;
  margin-top: -25px;
}
.contacts-map img {
  width: 133px;
  height: 134px;
}
.contacts-map a {
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 0;
  color: #001534;
}
.content {
  margin: 0 auto;
  margin-top: 32px;
  width: 1143px;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.8px;
}
.content img {
  width: 250px;
  height: 168px;
  margin-top: 65px;
}
.modal-body {
  width: 900px;
  background: white;
}
@media (max-width: 576px) {
  .modal-body {
    width: 100%!important;
  }
}
.modal-body input {
  margin-left: 13%;
  width: 75%;
  height: 120px;
  padding-left: 20px;
  font-size: 35px;
  margin-bottom: 50px !important;
  background: #d8d8d8;
  border: #979797 1px solid;
}
.modal-body button {
  width: 55%;
  height: 80px;
  margin-left: 23%;
  border-radius: 40px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .modal-body input {
    margin-left: 13%;
    width: 75%;
    height: 120px;
    padding-left: 20px;
    font-size: 35px;
    margin-bottom: 50px !important;
    background: #d8d8d8;
    border: #979797 1px solid;
  }
  .modal-body button {
    width: 55%;
    height: 80px;
    margin-left: 23%;
    border-radius: 40px;
    font-size: 35px;
    font-weight: 700;
    margin-top: 30px;
  }
}
.modal-header {
  margin: 0 auto!important;
  width: 900px;
  background: white;
  height: 130px;
}
@media (max-width: 576px) {
  .modal-header {
    width: 100%!important;
  }
}
.modal-header h5 {
  margin-top: 20px;
  color: #eb3b49;
  font-size: 40px;
  letter-spacing: 0;
  margin-left: 32%;
}
.modal-delite {
  font-size: 40px;
}
.modal-flex {
  display: flex;
  padding-top: 20px;
}
.modal-document {
  width: 350px!important;
  height: 300px;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}
.modal-document span {
  color: #eb3b49;
}
.nav-modal-second {
  width: 100%;
  margin: 31%!important;
}
@media (max-width: 576px) {
  .nav-modal-second {
    margin-left: 10%;
  }
}
.modal-link {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 35px;
  background: #d8d8d8;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .modal-link {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 35px;
    background: #d8d8d8;
    margin-bottom: 20px;
  }
}
@media (min-width: 320px) {
  .modal-link-active {
    background: #eb3b49;
  }
}
@media (max-width: 576px) {
  .modal-content {
    width: 400px;
  }
}
@media (max-width: 576px) {
  .modal-title {
    color: red;
    margin-left: 40%!important;
  }
}
.modal-tittle-second {
  margin-left: 26%!important;
}
@media (max-width: 576px) {
  .modal-tittle-second {
    color: green;
    margin-left: 37% !important;
  }
}
@media (max-width: 576px) {
  .modal-title-third {
    margin-left: 35%!important;
  }
}
.modal-header-second {
  height: 90px!important;
}
.modal-input-second {
  height: 100px!important;
  margin-bottom: 10px!important;
}
.nav-modal-second {
  margin-top: 15px!important;
}
.btn-second {
  margin-top: -20px !important;
}
.modal-input-third {
  width: 450px!important;
  height: 70px!important;
  margin-left: 20px!important;
  background: #eb3b49 !important;
  color: black;
}
@media (max-width: 576px) {
  .modal-input-third {
    width: 800px !important;
    margin-left: -20px !important;
  }
}
.modal-form {
  width: 650px!important;
  padding-left: 20px;
  text-align: center;
}
.modal-form p {
  font-size: 20px;
  margin-top: -30px !important;
}
.modal-form ul {
  list-style-type: none;
  margin-top: -20px;
}
.modal-form ul li {
  border-bottom: black 1px solid;
  width: 450px;
}
.modal-form a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.modal-form span {
  font-size: 50px;
  margin-left: 250px!important;
}
@media (max-width: 576px) {
  .modal-form ul li {
    width: 670px!important;
  }
}
@media (max-width: 576px) {
  .nav-modal-second {
    margin-left: 570px!important;
  }
}
.btn-third {
  font-size: 35px!important;
  color: white;
  margin-top: -400px;
  line-height: 1px;
  height: 0;
}
.btn-third-span {
  line-height: 5px;
  font-size: 15px;
  margin-bottom: 0!important;
}
.modal-input-third {
  width: 450px!important;
  height: 70px!important;
  margin-left: 20px!important;
  background: #eb3b49 !important;
  color: black;
}
.btn-third {
  margin-top: 50px;
}
.modal-text {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0;
  color: #001534;
  line-height: 70px;
}
.btn-third {
  font-size: 35px!important;
  color: white;
  margin-top: -400px;
  line-height: 1px;
  height: 0;
}
.btn-third-span {
  line-height: 5px;
  font-size: 15px;
  margin-bottom: 0!important;
}
.btn {
  width: 300px;
  height: 90px;
  background: #eb3b49;
  color: white;
  outline: none!important;
}
/*# sourceMappingURL=styles.css.map */